<%= render 'shared/detail_pager' %>
<% if @summary.length > 0 %>
<% @summary.group_by { |s| I18n.l(s.created_at, format: :date) }.map do |key, summaries| %>
<div class="card">
  <div class="card-header">
    <% if @page_type == 'incomes' %>
    <%= key + 'の収入' %>
    <% elsif @page_type == 'spends' %>
    <%= key + 'の出費' %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr class="table">
        <th>摘要</th>
        <th>金額</th>
        <th>作成</th>
      </tr>
    </thead>
    <tbody>
      <% summaries.each do |summary| %>
      <tr>
        <td><%= summary.reason_name %></td>
        <td><%= summary.amount.to_s(:delimited, delimiter: ',') %></td>
        <td><%= I18n.l(summary.created_at, format: :time) %></td>
        <td><%= link_to '消す', summary, method: :delete, data: { confirm: 'マジデ？' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<% else %>
<div class="card">
  <%= I18n.l(@p_targetDate, format: :ym) %>のデータ、なし
</div>
<% end %>
<%= render 'shared/detail_pager' %>
<footer>
  <div class="card">
    <%= link_to '戻る', summaries_path %>
  </div>
</footer>
