<div class="row">
  <div class="mt-3 mx-auto col-lg-8 col-md-11 col-sm-11">
    <%= render 'shared/detail_pager' %>
    <% if @summary.length > 0 %>
    <% @summary.each do |key,summarys| %>
    <div class="card mx-auto" style="width: 100%">
      <div style="text-align: center" class="card-header">
        <% if @page_type == 'incomes' %>
        <%= key.strftime('%Y/%m/%d') + 'の収入' %>
        <% elsif @page_type == 'spends' %>
        <%= key.strftime('%Y/%m/%d') + 'の出費' %>
        <% end %>
      </div>
      <table class="table mb-0">
        <thead>
          <tr style="text-align: center">
            <th style="width: 50%">摘要</th>
            <th style="width: 50%">金額</th>
          </tr>
        </thead>
        <tbody>
          <% summarys.each do |summary| %>
          <tr>
            <td style="width: 50%; text-align: left; padding-left: 15%"><%= summary.reason_name %></td>
            <td style="width: 50%; text-align: right; padding-right: 15%"><%= summary.amount.to_s(:delimited, delimiter: ',') %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'shared/detail_goback' %>
    <% end %>
    <% else %>
    <div class="card mb-4 mx-auto" style="text-align: center;">
      <%= @p_targetDate.strftime('%Y/%m') %>のデータ、なし
    </div>
    <%= render 'shared/detail_goback' %>
    <% end %>
    <%= render 'shared/detail_pager' %>
  </div>
</div>
