<%= render 'shared/detail_pager' %>
<% if @summary.length > 0 %>
<% @summary.each do |key,summarys| %>
<div class="card">
  <div class="card-header">
    <% if @page_type == 'incomes' %>
    <%= key.strftime('%Y/%m/%d') + 'の収入' %>
    <% elsif @page_type == 'spends' %>
    <%= key.strftime('%Y/%m/%d') + 'の出費' %>
    <% end %>
  </div>
  <table>
    <thead>
      <tr>
        <th>摘要</th>
        <th>金額</th>
      </tr>
    </thead>
    <tbody>
      <% summarys.each do |summary| %>
      <tr>
        <td><%= summary.reason_name %></td>
        <td><%= summary.amount.to_s(:delimited, delimiter: ',') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/detail_goback' %>
<% end %>
<% else %>
<div class="card">
  <%= @p_targetDate.strftime('%Y/%m') %>のデータ、なし
</div>
<%= render 'shared/detail_goback' %>
<% end %>
<%= render 'shared/detail_pager' %>
