<%= form_for(@income) do |f| %>
<h2>収入を登録する</h2>
<div class="form-group">
  <%= render 'shared/error_messages', object: @income %>

  <%= f.label '利用財布' %>
  <%= f.collection_select :wallet_id, Wallet.all, :id, :name, {}, { :class => 'form-control collection' } %>

  <%= f.label '収入理由' %>
  <%= f.collection_select :income_reason_id, IncomeReason.all.where('id <> 999'), :id, :name, {}, { :class => 'form-control collection' } %>

  <%= f.label '登録者名' %>
  <%= f.collection_select :user_id, User.all, :id, :name, {}, { :class => 'form-control collection' } %>

  <%= f.text_field :amount, :placeholder => '金額', class: 'form-control input' %>
  <%= f.submit '収入計上', class: "btn" %>
  <% end %>
  <% if !@del_income.blank? %>
  <%= link_to "先ほどの登録を取消す", @del_income, method: :delete, data: {confirm: "削除してよろしいですか？"}  %>
  <% end %>
</div>
<footer>
  <div class="card">
    <%= link_to '戻る', root_path %>
  </div>
</footer>
