<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };

  function getConfig(p_datas, p_labels) {
    return config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: p_datas,
          backgroundColor: [
            window.chartColors.red,
            window.chartColors.orange,
            window.chartColors.yellow,
            window.chartColors.green,
            window.chartColors.blue,
            window.chartColors.purple,
            window.chartColors.grey,
          ]
        }],
        labels: p_labels
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
          labels: {
            filter: function (items, chartData) {
              return items.index < 6;
            },
          }
        },
        title: {
          display: false
        },
        animation: {
          animateScale: true,
          animateRotate: true
        }
      }
    };
  };

  function showChart() {
    var spendsCtx = document.getElementById('spends-chart-area').getContext('2d');
    var spendsChartArea = new Chart(spendsCtx, getConfig( <%= @spend_datas %> , <%= @spend_labels.to_json.html_safe %> ));
    var incomesCtx = document.getElementById('incomes-chart-area').getContext('2d');
    var incomesChartArea = new Chart(incomesCtx, getConfig( <%= @income_datas %> , <%= @income_labels.to_json.html_safe %> ));
  };
  $(window).on("load", function () {
    showChart()
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <%= I18n.l(@p_targetDate, format: :ym) %>の出費
        </div>
        <div class="card-body">
          <div id="spends-canvas-holder">
            <canvas id="spends-chart-area"></canvas>
          </div>
            <% if !@spend_total_amount.blank? %>
            <h1>
            <%= @spend_total_amount.to_s(:delimited, delimiter: ',') %>
            </h1>
              <% if !@spend_budget_total_amount.blank? %>
              あと <%= (@spend_total_amount - @spend_budget_total_amount).to_s(:delimited, delimiter: ',') %>
              <% end %>
            <% else %>
            <h1>
            ない
            </h1>
            <% end %>
        </div>
        <table class="table">
          <thead>
            <tr class="table">
              <th>摘要</th>
              <th>金額</th>
              <th>予算</th>
            </tr>
          </thead>
          <tbody>
            <% if @spend_summaries.length > 0 %>
            <% @spend_summaries.each do |summary| %>
            <tr>
              <td><%= summary.name %></td>
              <td><%= summary.s_amount.to_s(:delimited, delimiter: ',') %></td>
              <td><%= summary.b_amount.to_s(:delimited, delimiter: ',') %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td>なし</td>
              <td>-</td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-footer">
          <%= link_to '詳細', spends_show_path(targetDate: (@p_targetDate).strftime('%Y-%m-%D')) %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <%= I18n.l(@p_targetDate, format: :ym) %>の収入
        </div>
        <div class="card-body">
          <div id="incomes-canvas-holder">
            <canvas id="incomes-chart-area"></canvas>
          </div>
          <h1>
            <% if !@income_total_amount.blank? %>
            <%= @income_total_amount.to_s(:delimited, delimiter: ',') %>
            <% else %>
            ない
            <% end %>
          </h1>
        </div>
        <table class="table">
          <thead>
            <tr class="table">
              <th>摘要</th>
              <th>金額</th>
            </tr>
          </thead>
          <tbody>
            <% if @income_summaries.length > 0 %>
            <% @income_summaries.each do |summary| %>
            <tr>
              <td><%= summary.reason_name %></td>
              <td><%= summary.amount.to_s(:delimited, delimiter: ',') %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td>なし</td>
              <td>-</td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="card-footer">
          <%= link_to '詳細', incomes_show_path(targetDate: (@p_targetDate).strftime('%Y-%m-%D')) %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="card">
    <%= link_to '戻る', root_path %>
  </div>
</footer>
