<%= form_for(@spend) do |f| %>
<h2>出費を登録する</h2>
<div class="form-group">
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label '利用財布' %>
  <%= f.collection_select :wallet_id, Wallet.all, :id, :name %>

  <%= f.label '出費理由' %>
  <%= f.collection_select :spend_reason_id, SpendReason.all, :id, :name %>

  <%= f.label '登録者名' %>
  <%= f.collection_select :user_id, User.all, :id, :name %>

  <%= f.text_field :amount, :placeholder => '金額', class: 'form-control' %>
  <%= f.submit '出費計上', class: "btn" %>
  <% end %>
  <% if !@del_spend.blank? %>
  <%= link_to "先ほどの登録を取消す", @del_spend, method: :delete, data: {confirm: "削除してよろしいですか？"}  %>
  <% end %>
</div>
<footer>
  <div class="card">
    <%= link_to '戻る', root_path %>
  </div>
</footer>
