<%= form_for(@spend, url: transfers_path) do |f| %>
<h2>お金を振替る</h2>
  <div class="form-group">
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label 'FROM財布' %>
    <%= f.collection_select :wallet_id, Wallet.all, :id, :name, {}, { :class => 'form-control collection' } %>

    <%= f.label 'FROM者名' %>
    <%= f.collection_select :user_id, User.all, :id, :name, {}, { :class => 'form-control collection' } %>

    <%= f.text_field :amount, :placeholder => 'FROM金額', class: 'form-control input' %>
  </div>

  <h3>↓↓↓</h3>

  <%= fields_for(@income) do |s| %>
  <div class="form-group">
    <%= s.label 'TO財布'  %>
    <%= s.collection_select :wallet_id, Wallet.all, :id, :name, {}, { :class => 'form-control collection' } %>

    <%= s.label 'TO者名' %>
    <%= s.collection_select :user_id, User.all, :id, :name, {}, { :class => 'form-control collection' } %>

    <%= s.text_field :amount, :placeholder => 'TO金額', class: 'form-control input' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit '振替登録', class: 'btn' %>
  </div>
<% end %>
<footer>
  <div class="card">
    <%= link_to '戻る', root_path %>
  </div>
</footer>

<script type="text/javascript">
  $(function () {
    $('#spend_amount').bind('keydown keyup keypress change', function () {
      var value = $(this).val();
      $('#income_amount').val(value);
    });
  });
</script>
