<%= render 'detail_pager' %>
<p id="notice"><%= notice %></p>
<div class="card">
  <%= link_to '新規の皮算用する', new_spend_budget_path %>
</div>

<% if @budget_summary.length > 0 %>
<% @budget_summary.each do |key,summarys| %>
<div class="card">
  <div class="card-header">
    <%= key.strftime('%Y/%m') + 'の予算' %>
  </div>
  <table class="table">
    <thead>
      <tr class="table">
        <th style="width: 60px;">-</th>
        <th>摘要</th>
        <th>金額</th>
        <th>人</th>
        <th style="width: 60px;">-</th>
      </tr>
    </thead>
    <tbody>
      <% summarys.each do |summary| %>
      <tr>
        <td><%= link_to '消す', summary, method: :delete, data: { confirm: 'マジデ？' } %></td>
        <td><%= summary.reason_name %></td>
        <td><%= summary.amount.to_s(:delimited, delimiter: ',') %></td>
        <td><%= summary.user_name %></td>
        <td><%= link_to '修正', edit_spend_budget_path(summary) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<% else %>
<div class="card">
  <%= @p_targetDate.strftime('%Y/%m') %>のデータ、なし
</div>
<% end %>
<%= render 'detail_pager' %>
<footer>
  <div class="card">
    <%= link_to '戻る', root_path %>
  </div>
</footer>
